@import './_reset.scss';
@import './_theme-colors.scss';
/*
**
** 00 Variables
** 01 Common
** 02 Header
** 03 Content
**
*/

/**
*** 00 Variables
**/
$fontFamily: 'Nunito Sans', sans-serif;
$mainFontSize: 14px;
$titleFontSize: 16px;
$normal: 300;
$semiBold: 600;
$semiBold: 600;
$extraBold: 800;

/**
*** 01 Common
**/
body {
  font-size: 14px;
  font-family: $fontFamily;
}
a{
  text-decoration: none;
  &.btn{
    width:95px;
    padding:0;
    text-align: center;
    border-radius: 2px;
  }
}
button,
input,
select {
  outline: none;
  font-weight: $semiBold;
}
button{
  cursor:pointer;
}
h1 {
  font-size: 20px;
  font-weight: $extraBold;
  color: var(--app-text-color);
}
#app {
  width: 100%;
  margin: 0 auto;
}
.app-bg {
  background-color: var(--app-bg-color);
}
.inline{
  display: inline-block!important; 
}
.align-top{
  vertical-align: top;
}
.flex{
  display:flex;
  flex-wrap: wrap;
}
.space-around{
  justify-content: space-around;
}
.space-between{
  justify-content: space-between;
}
.w-100{
 width:100%;
}
/**
*** 02 Header
**/
.header-wrapper {
  width: 100%;
  background-color: var(--app-element-color);
  box-shadow: 0px 10px 10px -15px var(--app-shadow-color);
}

.header {
  margin: 0 auto;
  background-color: var(--app-element-color);
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;

  button {
    border: none;
    background: none;
    color: var(--app-text-color);
  }
}

/**
*** 03 Content
**/
.content-wrapper {
  width: 100%;
}

.content {
  margin: 0 auto;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}
.btn {
  background-color: var(--app--input-color);
  border:none;
  line-height:40px;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--app-shadow-color);
  color: var(--app-text-color);
  font-weight: $normal;
  padding: 0 32px;

  i{
    margin-right:10px;
  }
}
.search {
  width: 33.33%;
  position: relative;

  i {
    position: absolute;
    font-size: 18px;
    color: var(--app-text-color);
    top: 33.93%;
    left: 6.667%;
  }

  input[type="search"] {
    background: var(--app-element-color);
    color: var(--app-text-color);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px var(--app-shadow-color);
    padding: 10px 70px;
    height: 45px;
    width: 100%;
  }
}

.region {
  width: 13.889%;
  position: relative;

  span.dropdown-toggle{
    background: var(--app-element-color);
    color: var(--app-text-color);
    font-weight: $semiBold;
    text-transform: capitalize;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px var(--app-shadow-color);
    padding: 0px 21px;
    line-height: 45px;
    display:block;
    cursor:pointer;

    i{
      position: absolute;
      right:15px;
      top:15px;
    }
  }

  ul {
    position: absolute;
    top: 60px;
    background: var(--app-element-color);
    width:100%;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--app-shadow-color);
    padding:15px 0;
    color: var(--app-text-color);

    li{
      padding-left:24px;
      font-weight: $semiBold;
      line-height:25px;
      text-transform:capitalize;
      cursor:pointer;
    }
    li:hover{
      background-color: var(--app-shadow-color);
    }
  }
}

.blocks {
  a.block {
    display: inline-block;
    width: 20.54%;
    border-radius: 5px;
    background-color: var(--app-element-color);
    box-shadow: var(--app-shadow-color);
    min-height: 336px;
    overflow: hidden;
    margin: 0 76px 75px 0;
    color: var(--app-text-color);
  }
  .flag {
    display: block;
    width: 100%;
    height: 160px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .info {
    overflow: hidden;
    padding: 30px 24px;
    color: var(--app-text-color);

    .block{
      flex-basis: 100%;
    }
    
    h2 {
      display: block;
      width: 100%;
      font-size: $titleFontSize;
      font-weight: 800;
      min-height: 30px;
    }

    span {
      display: block;
      line-height: 25px;

      strong {
        font-weight: $semiBold;
      }
    }
  }
  a.block:nth-child(4n) {
    margin-right: 0;
  }
  &.country > div{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .flex{
      margin-bottom:38px;
    }
    .block{
      flex-basis: 50%;
    }
    .left, 
    .right{
      width:45%;
    }
    .left{
      .flag{
        min-height:400px;
      }
    }
    .right{
      h2{
        font-size:32px;
        margin-bottom:38px;
      }
      .info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        div:not(:last-child) {
          margin-bottom:38px;
        }
        span{
          line-height: 35px;
        }
      }
      a.btn{
        margin:5px;
        display:inline-block;
        line-height: 25px;
      }
    }
  }
}

@media only screen and (min-width:376px) {
  $sectionSize: 1280px;
  $sectionPadding: 30px 80px;

  .header,
  .content {
    width: $sectionSize;
    padding: $sectionPadding;
  }
}

@media only screen and (max-width: 375px) {
  $sectionSize: 315px;
  $sectionPadding: 30px;

  h1{
    font-size:16px;
  }
  .header,
  .content {
    width: $sectionSize;
    padding: $sectionPadding;
  }
  .filters{
    display:block;
  
    .search{
      width:100%;
      margin-bottom: 38px;
    }
    .region{
      width:50%;
    }
  }
  .blocks{
    a.block{
      width:100%;
      margin:0 0 60px 0;
    }
  }
  .blocks{
    &.country > div{
      font-size:16px;
      .left{
        width: 100%;

        .flag{
          min-height:200px;
        }
      }
      .right{
        width: 100%;
        .block{
          flex-basis:100%;
        }
        div > div:nth-child(3) span{
          font-size:18px;
        }
        .info{
          padding: 60px 0;
        }
      }
    }
  }
}
